[submodule "boba_ops/safe-client-gateway"]
	path = boba_ops/safe-client-gateway
	url = https://github.com/gnosis/safe-client-gateway.git
[submodule "boba_ops/safe-config-service"]
	path = boba_ops/safe-config-service
	url = https://github.com/gnosis/safe-config-service
[submodule "boba_ops/safe-transaction-service"]
	path = boba_ops/safe-transaction-service
	url = https://github.com/omgnetwork/safe-transaction-service
